<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BasesB.Properties.Settings.SITIO_1ConnectionString"
            connectionString="Data Source=DESKTOP-3MOFSQA\SQLEXPRESS;Initial Catalog=SITIO_1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BasesB.Properties.Settings.SITIO_CENTRALConnectionString"
            connectionString="Data Source=DESKTOP-3MOFSQA\SQLEXPRESS;Initial Catalog=SITIO_CENTRAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>